* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #1a1a1a;
  color: #fff;
}

footer {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  color: yellow;
  margin: 0;
  text-shadow: 5px 5px 2px magenta, -5px -5px 2px #0ebeff, -5px 5px 2px #fff,
    5px -5px 2px magenta;
}

a {
  outline: none;
  text-decoration: none;
  color: magenta;
}

a:hover {
  border-bottom: 8px solid;
  background: yellow;
}
